{% extends 'base.html.twig' %}

{% block title %}Mes Réservations
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h2 class="text-center mb-4">Mes Réservations</h2>

		<div class="card shadow-sm border-light">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover align-middle">
						<thead class="table-dark">
							<tr>
								<th>Matériel</th>
								<th>Date début</th>
								<th>Date fin</th>
								<th>Statut</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for reservation in reservations %}
								<tr>
									<td>{{ reservation.objet.nom }}</td>
									<td>{{ reservation.dateDebut|date('d-m-Y') }}</td>
									<td>{{ reservation.dateFin|date('d-m-Y') }}</td>
									<td>
										{% if reservation.statut == 'Demande Approuvée' %}
											<span class="badge bg-success">{{ reservation.statut }}</span>
										{% elseif reservation.statut == 'en attente' %}
											<span class="badge bg-warning text-dark">{{ reservation.statut }}</span>
										{% elseif reservation.statut == 'Demande Refusée' %}
											<span class="badge bg-danger">{{ reservation.statut }}</span>
										{% elseif reservation.statut == 'Objet Retourné' %}
											<span class="badge bg-primary">{{ reservation.statut }}</span>
										{% endif %}
									</td>
									<td>
										{% if reservation.statut == 'Demande Approuvée' %}
											<a href="{{ path('app_reservation_return', { id: reservation.id }) }}" class="btn btn-danger btn-sm">Faire Retour</a>
										{% endif %}
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5" class="text-center">Aucune réservation trouvée.</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
