{% extends 'base.html.twig' %}

{% block title %}Mes Retours
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2 class="text-center font-weight-bold mb-4">Mes Retours</h2>

		<div class="card shadow-sm">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="thead-dark">
							<tr>
								<th>Matériel</th>
								<th>État de l'Objet</th>
								<th>Date retour prévu</th>
								<th>Date retour réelle</th>

							</tr>
						</thead>
						<tbody>
							{% for retour in pagination %}
								<tr>
									<td class="align-middle">{{ retour.objet.nom }}</td>
									<td class="align-middle">
										<span class="badge {% if retour.objectStatus == 'Bon état' %}badge-success{% else %}badge-danger{% endif %}">
											{{ retour.objectStatus }}
										</span>
									</td>
									<td class="align-middle">{{ retour.reservation.dateFin|date('d-m-Y') }}</td>
									<td class="align-middle">
										{% if retour.returnDate %}
											{{ retour.returnDate|date('d-m-Y') }}
										{% else %}
											<span class="text-muted">Pas encore retourné</span>
										{% endif %}
									</td>

								</tr>
							{% else %}
								<tr>
									<td colspan="5" class="text-center text-muted">Aucun retour trouvé.</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>


			</div>
		</div>
		<!-- Pagination controls -->
		<div class="d-flex justify-content-center">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
