{% extends 'base.html.twig' %}

{% block title %}Gérer les Retours
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2 class="text-center font-weight-bold mb-4">Gérer les Retours</h2>

		<div class="card shadow-sm">
			<div class="card-body">
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th>Utilisateur</th>
							<th>Matériel</th>
							<th>État de l'Objet</th>
							<th>Date retour prévu</th>
							<th>Date retour réelle</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for retour in pagination %}
							<tr>
								<td class="align-middle">{{ retour.reservation.user.firstname }}
									{{ retour.reservation.user.lastname }}</td>
								<td class="align-middle">{{ retour.objet.nom }}</td>
								<td class="align-middle">
									<span class="badge {% if retour.objectStatus == 'Bon état' %}badge-success{% else %}badge-danger{% endif %}">
										{{ retour.objectStatus }}
									</span>
								</td>
								<td class="align-middle">{{ retour.reservation.dateFin|date('d-m-Y') }}</td>
								<td class="align-middle">
									{% if retour.returnDate %}
										{{ retour.returnDate|date('d-m-Y') }}
									{% else %}
										<span class="text-muted">Pas encore retourné</span>
									{% endif %}
								</td>
								<td class="align-middle">
									<button type="button" class="btn btn-outline-danger btn-sm" onclick="confirmDelete('{{ retour.id }}')">Supprimer</button>

									<form id="delete-form-{{ retour.id }}" method="post" action="{{ path('app_retour_delete', {'id': retour.id}) }}" style="display:none;">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ retour.id) }}">
									</form>
								</td>

							</tr>
						{% else %}
							<tr>
								<td colspan="6" class="text-center text-muted">Aucun retour trouvé.</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>


			</div>
		</div>
		<!-- Pagination controls -->
		<div class="d-flex justify-content-center">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>

	<script>
		function confirmDelete(retourId) {
Swal.fire({
title: 'Êtes-vous sûr ?',
text: "Vous ne pourrez pas annuler cette action !",
icon: 'warning',
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: 'Oui, supprimer !',
cancelButtonText: 'Annuler'
}).then((result) => {
if (result.isConfirmed) {
document.getElementById('delete-form-' + retourId).submit();
}
});
}
	</script>
{% endblock %}
